body {
    /* background-color: #222; */
    /* background-color: #353535; */
    background-color: #555;
    /* color: #ddd; */
    font-size: 15px;
    padding: 0;
    margin: 0;
}

#left-controls {
    box-sizing: border-box;
    position: absolute;
    padding: 32px;
    display: flex;
    width: calc(10vw);
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#left-controls canvas {
    margin: 16px 0;
    /* float: */
}

#panel {
    height: 100%;
    width: calc(80vw);
    /* background-color: #424242; */
    background-color: #424242;
    box-shadow: 0 0 16px #222;
    padding: 32px;
    margin: 0 auto;
    box-sizing: border-box;
}

#right-controls {
    box-sizing: border-box;
    position: absolute;
    /* padding: 32px; */
}

canvas[id*='elements-knob'] {
    margin: 8px 0px;
    vertical-align: middle;
}

span[id*='elements-'] {
    margin: 8px 16px;
    vertical-align: middle;
}

.tutorial {
    margin: 0 auto;
    /* width: 33%; */
    margin-top: 220px;
    width: 100%;
}

canvas[id*='elements-waveform-'] {
    width: 500px;
    height: 125px;
    border: 0px solid transparent;
    background-color: #333;
    box-shadow: inset 0 0 16px #222;
    box-sizing: border-box;
    border-radius: 8px;
}

canvas[id*='elements-scope-'] {
    width: 1000px;
    height: 125px;
    border: 0px solid transparent;
    background-color: #333;
    box-shadow: inset 0 0 16px #222;
    box-sizing: border-box;
    border-radius: 8px;
}