body {
    background-color: #2a2a2a;
    font-size: 15px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    /* font-family: monospace; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    user-select: none;
    border-radius: 8px;
}

.content {
    flex-direction: row;
    display: flex;
    margin-top: 24px;
}

.filterType {
    color: #aaa;
    font-size: 13px;
    cursor: pointer;
}

.system-bar {
    width: 100%;
    height: 52px;
    top: 0;
    -webkit-app-region: drag;
}

.system-bar svg {
    -webkit-app-region: no-drag;
    cursor: pointer;
    height: 18px;
    margin: 18px 16px;
    position: absolute;
    fill: gray;
    z-index: 20;
}

.system-bar .record-button {
    margin: 20px 16px;
}

.close {
    right: 0;
}

.record-button-bg {
    width: 64px;
    height: 32px;
    background: #333;
    display: inline-block;
    padding: 0;
    padding-right: 0px;
    margin: 13px 10px;
    border-radius: 16px;
    top: 0;
    position: absolute;
    color: #ccc;
    text-align: right;
    line-height: 32px;
    font-size: 15px;
    padding-right: 21px;
}

h4 {
    padding-left: 24px;
    color: #aaa;
    font-size: 0.9rem;
}

ul {
    margin: 4px;
}

.samples {
    width: 100%;
    transition: right 0.2s ease;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.samples ul {
    list-style: none;
    padding-left: 0;
    font-size: 13px;
    line-height: 24px;
}

.samples ul li {
    color: #424242;
    transition: 350ms color ease;
    padding: 4px 24px;
}

.samples ul li:hover {
    color: #fff;
    cursor: pointer;
}

.samples ul li.active {
    color: #fc1;
    background-color: #252525;
    border-radius: 24px;
}

.samples-list {
    display: flex;
    flex-direction: row;
}

.ir-samples-list {
    display: flex;
    flex-direction: row;
}

.centered-panel {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;

    box-sizing: border-box;
    margin-left: 16px;
}

.console {
    margin-top: 64px;
    margin-left: 24px;
}

.console2 {
    margin-top: 64px;
}

.centered-panel canvas {
    margin: 12px;
}

canvas[id*='elements-knob'] {
    margin: 8px 0px;
    vertical-align: middle;
}

p.element-knob-label {
    pointer-events: none;
}

span[id*='elements-'] {
    margin: 8px 16px;
    vertical-align: middle;
}

canvas[id*='elements-scope'] {
    margin-bottom: -10px;
}

canvas[id*='elements-waveform-'] {
    border-top: 1px solid #777;
    padding-top: 1px;
    box-sizing: border-box;
    width: 500px;
    height: 75px;
    min-width: 500px;
    min-height: 75px;
}

#elements-waveform-2 {
    display: none;
}

#panel {
    flex-direction: column;
    align-items: start;
}
