body {
    background-color: #353535;
    font-size: 15px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    user-select: none;
}

body.debug > * {
    border: 1px dashed orangered;
    box-sizing: border-box;
}

h5 {
    color: #777;
}

.filterType {
    color: #aaa;
    font-size: 13px;
    cursor: pointer;
}

.system-bar {
    width: 100%;
    height: 52px;
    background-color: #353535;
    top: 0;
    -webkit-app-region: drag;
}

.system-bar img {
    filter: invert(0.4);
    cursor: pointer;
    height: 18px;
    margin: 20px 10px;
    -webkit-app-region: no-drag;
}

.system-bar img:hover {
    filter: invert(1);
}

.system-bar img.record-button {
    height: 26px;
    margin: 16px 13px;
    position: absolute;
    z-index: 3;
}

.record-button-bg {
    width: 200px;
    height: 32px;
    background: #333;
    display: inline-block;
    padding: 0;
    margin: 13px 10px;
    border-radius: 16px;
    top: 0;
    position: absolute;
    color: #ccc;
    text-align: center;
    vertical-align: middle;
    line-height: 32px;
    font-size: 13px;
}

.samples {
    position: fixed;
    width: 275px;
    height: 100%;
    background-color: #353535;
    right: 0;
    z-index: 1;
    border-left: 1px solid #555;
}

.samples ul {
    list-style: none;
    margin-top: 72px;
    padding-left: 0;
    font-size: 13px;
    line-height: 24px;
}

.samples ul li {
    color: #424242;
    transition: 350ms color ease;
    padding: 4px 24px;
}

.samples ul li:hover {
    color: #fff;
    cursor: pointer;
}

.samples ul li.active {
    color: #fc1;
    background-color: #353535;
}

.samples-list {
    height: 30%;
}

.ir-samples-list {
    height: 50%;
}

.centered-panel {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: start;

    box-sizing: border-box;
    margin-left: 16px;
}

.centered-panel canvas {
    margin: 12px;
}

canvas[id*='elements-knob'] {
    margin: 8px 0px;
    vertical-align: middle;
}

span[id*='elements-'] {
    margin: 8px 16px;
    vertical-align: middle;
}

canvas[id*='elements-scope'] {
    margin-bottom: -14px;
}

canvas[id*='elements-waveform-'] {
    border-top: 1px solid #eee;
    padding-top: 1px;
    box-sizing: border-box;
    width: 500px;
    height: 75px;
    min-width: 500px;
    min-height: 75px;
}

#elements-waveform-2 {
    display: none;
}

#panel {
    flex-direction: column;
    align-items: start;
}
