* {
    box-sizing: border-box;
}

body {
    background-color: #ccc;
    font-family: 'Poiret One', monospace;
    padding: 0;
    margin: 0;
    font-size: 22px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 5rem;
}

h1,
h3 {
    margin: 0;
}

img {
    height: 40%;
    max-height: 500px;
    box-shadow: 0 0 16px #222;
    z-index: 10;
    margin: 32px 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

a {
    cursor: pointer;
}

button {
    border: 2px solid black;
    font-weight: 500;
    border-radius: 8px;
    background-color: transparent;
    padding: 8px 24px;
    color: black;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.1rem;
}

.header-text {
    position: absolute;
    top: 8%;
    transform: translateY(-50%);
    color: #ddd;
}

.donate-wrapper {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.donate {
    color: black;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
    font-family: monospace;
}

.random-square {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
    background-color: #666;
    clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 0% 70%);
}
